<app-metadata-element></app-metadata-element>
<!-- <app-header></app-header> -->
<!-- <app-hero-header></app-hero-header> -->
<app-clients></app-clients>
<app-information-section></app-information-section>
<app-timeline loading="lazy"></app-timeline>
<!-- <app-features></app-features> -->
<app-reviews loading="lazy"></app-reviews>
<app-integration loading="lazy"></app-integration>
<app-demo loading="lazy"></app-demo>
<!-- <app-banner></app-banner> -->
<app-customer-story loading="lazy"></app-customer-story>
<!-- <app-socialposts loading="lazy"></app-socialposts> -->
<app-slider loading="lazy"></app-slider>
<app-worldmap loading="lazy"></app-worldmap>