<div class="footer">
  <div class="container">
    <div class="footer-row row">
      <div class="col-md-6 contacts">
        <div class="goodbyemsg col-8">
          <img src="assets/favicon.png" alt="" />
          <h5>Data-Driven Discovery Journey Starts</h5>
          <p>
            Data and Discovery Merge: Embark on Transformative Analytics Exploration Here.
          </p>
          <h6>Made with 🤍 in India</h6>
        </div>
        <div class="social-contacts">
          <a href="https://www.facebook.com/"><fa-icon [icon]="faFacebook"></fa-icon></a>
          <a href="https://twitter.com/"><fa-icon [icon]="faTwitter"></fa-icon></a>
          <a href="https://www.instagram.com/"><fa-icon [icon]="faInstagram"></fa-icon></a>
          <a href="https://www.linkedin.com/"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </div>
      </div>
      <div class="col-md-6 left-footer">
        <div class="footer-content">
          <div class="content">
            <ul>
              <li><h5>Navigate</h5></li>
              <li><a routerLink="">Home</a></li>
              <li><a routerLink="about">About us</a></li>
              <li><a routerLink="contact">Contact Us</a></li>
              <li><a routerLink="career">Career</a></li>
            </ul>
          </div>
          <div class="content">
            <ul>
              <li><h5>Legal</h5></li>
              <li><a routerLink="license">License</a></li>
              <li><a routerLink="terms">Terms of Service</a></li>
              <li><a routerLink="policy">Privacy Policy</a></li>
              <li><a routerLink="refunds">Refunds</a></li>
              <li><a routerLink="policy">© Metadata, Inc.</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
