<div class="metadata-element">
  <div class="quote">
    <div class="absolute z-0 w-full h-full top-0 right-0 opacity-40 background">
      <span>
        <img alt="" src="assets/backg.svg" decoding="async" data-nimg="fill" sizes="100vw" srcset="
              assets/backg.svg  640w,
              assets/backg.svg  750w,
              assets/backg.svg  828w,
              assets/backg.svg 1080w,
              assets/backg.svg 1200w,
              assets/backg.svg 1920w,
              assets/backg.svg 2048w,
              assets/backg.svg 3840w
            " />
      </span>
    </div>
    <div class="text">
      <div class="text-content">
        <h1>Where Data Meets Discovery: Your Analytics Journey Begins</h1>
        <!-- <h1>{{textContent.title}}</h1> -->
        <p>
          signifies the convergence of data and exploration, marking the outset of your transformative analytics
          journey. It encapsulates the excitement of uncovering insights within data and portrays the platform as the
          starting point for users to embark on their path to data-driven discoveries
        </p>
        <!-- <p>
          {{textContent.body}}
        </p> -->
        <a href="/" class="Demo-button">Request Demo</a>
      </div>
    </div>
  </div>
</div>
<div class="player container">
  <div class="content">
    <div class="deco-up">
      <img src="assets/safari.png" alt="" />
    </div>
    <div class="hero-gif-bottom">
      <img src="assets/herogif.gif" alt="">
    </div>
  </div>
</div>