<div class="Feature-display">
    <h1><strong>Lorem ipsum dolor sit amet consectetur.</strong></h1>
    <div class="Feature" *ngFor="let i of [1,2,3]" >
        <div appSlineIn class="Feature-view"><img src="assets/content-element-1.jpg" alt=""></div>
        <div class="Feature-info">
            <h1><strong>Lorem ipsum dolor sit.</strong></h1>
            <h2>Lorem ipsum dolor sit amet consectetur.</h2><button class="DemoButton">Check demo</button> <a href="">watch video</a>
        </div>
    </div>
</div>