*{
    font-family: 'Montserrat', sans-serif;
  }
.Feature-display {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 50px;
    padding: 30px 10px;
}

.Feature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 50px;

}

.Feature-view img {
    width: 500px;
    height: 400px;
    animation: scroll 0.8s linear infinite;
    animation-play-state: paused;
    animation-delay: inherit;
}

@keyframes scroll {
    from{
        transform: translateX(-30px);
        opacity: 1;
    }
    to{
        transform: translateX(50px);
        opacity: 0.3;
    }
    
}


.Feature-info {
    padding: 0px 20px;
    margin: 0px 20px;

    a {
        text-decoration: none;
        color: black;
    }
}

.DemoButton {
    background-color: rgb(132, 241, 128);
    font-weight: 400;
    font-size: large;
    padding: 5px 15px;
    border: 0px;
    border-radius: 20px;
    margin: 10px 5px;
}

.Feature:nth-child(even){
    .Feature-view{
        order:2;
    }
    .Feature-info{
        order:1;
    }
    
}