<div class="container information">
  <div class="card-group row">
    <div class="card col-sm-6">
      <img src="assets/brand-A.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Twitter's solution</h5>
        <p class="card-text">Twitter used Metadata Everywhere to highlight partner engagement and the overall success of
          their initiative, and Mrtadata Apps to collect and aggregate volunteer information and experiences across all
          participating partners.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><a href="">Learn more..</a></small>
      </div>
    </div>
    <div class="card col-sm-6">
      <img src="assets/brand-B.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Instagram</h5>
        <p class="card-text">We found a data-agnostic tool that is proficient in pulling data from our various systems
          into the cloud, binding it together and allowing us access to meaningful insights. That tool is Metadata.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><a href="">Learn more..</a></small>
      </div>
    </div>
  </div>
</div>