<div class="about-us">
    <div class="container">
        <div class="row">
        <div class="text-content col-md-6">
            <h5>ENABLING THE POTENTIAL OF THE NEXT DATA SCIENTISTS</h5>
            <strong><h1>Simplifying and enabling easy access to data for individuals in the business realm.</h1></strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita est soluta doloribus, saepe ipsam nam. Magni saepe illo dolorem dolorum, adipisci sit natus possimus, ad illum porro accusantium, quas a.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit aperiam in ab quidem accusamus, voluptatem facilis nesciunt mollitia magni molestiae similique soluta reiciendis asperiores consequuntur pariatur earum ipsum amet hic non inventore saepe maiores? Itaque animi dignissimos numquam aliquid harum?</p>
            <p><span><h5>Metadata-ai</h5></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quibusdam animi eum iste, provident corporis recusandae sapiente! Enim aliquid culpa tempora dicta ab minima delectus!</p>
        </div>
        <div class="team-image col-md-6">
            <img src="assets/teampicture.jpg" alt="">
            <h4>Our Mission</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum provident unde facere ex vel voluptates</p>
        </div>
    </div>
    </div>
    <div class="clients container">
        <h5>Lorem, ipsum dolor.</h5>
        <div class="row icons">
        <div class="first boxes col-sm-3"><img src="assets/paypal.png" alt="" /></div>
        <div class="second boxes col-sm-3"><img src="assets/paypal.png" alt="" /></div>
        <div class="third boxes col-sm-3"><img src="assets/paypal.png" alt="" /></div>
        <div class="fourth boxes col-sm-3"><img src="assets/paypal.png" alt="" /></div>
      </div>
      </div>
      <div class="container demo-section">
        <div class="row demo">
            <div class="text col-md-10">
                <h4>Lorem ipsum dolor, sit amet consectetur adipisicin.</h4>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <button class="col-md-2">Request Demo</button>
        </div>
      </div>
</div>