<div id="Introduction">
  <div class="quote">
    <h6>
      The Initiative for Empowering Everyday Individuals as Data Analysts.</h6>
    <h1>Metadata Circle</h1>
    <h6>Fueled by a collective effort and propelled by a profound passion for data, we thrive. 💖</h6>
    <div class="stats">
      <div class="customer-regions">
        <h1><strong>81</strong></h1>
        <h6>Customer regions</h6>
      </div>
      <div class="global-experts">
        <h1><strong>+52</strong></h1>
        <h6>Global experts</h6>
      </div>
      <div class="fellows">
        <h1><strong>+7186</strong></h1>
        <h6>Metadata fellow</h6>
      </div>
      <div class="our-presence">
        <h1><strong>22</strong></h1>
        <h6>Our presence</h6>
      </div>
    </div>
  </div>
</div>
