*{
    margin: 0px;
    padding: 0px;
}
#Introduction{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 41, 9);
    .quote{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1{
            font-weight: 600;
        }
    }
    .stats{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 0px 10px;
    }
}

#Introduction::before{
    content: '';
    display: flex;
    align-items: center;
    background: url('https://cdn.pixabay.com/photo/2016/10/17/18/54/world-map-1748403_1280.png') center no-repeat;
    // background: url('https://i.pinimg.com/originals/5e/b7/be/5eb7be3f64dfcb1d97d191a8affdc4f1.jpg') center;
    width: 100%;
    height: 60vh;
    z-index: -1;
    opacity: 0.8;
}




