.customer-story{
    margin: 100px;
    padding: 50px;
    .nav-tabs {
        margin: 50px;
        display: flex;
        justify-content: center;
        border: 0px;  
        .nav-item {
          margin-left: 0px;
          margin-right: 0px;
          .nav-link {
            padding: 20px 50px;
            border: 0px;
            font-size: larger;
            border-radius: 0;
            cursor: pointer;
            background-color: rgb(190, 240, 190);
            filter: grayscale(100%);
          }
        }
      }
      
      .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        .panel {
          display: none;
          .content-container{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            .image-container{
              display: flex;
              justify-content: center;
              img{
                width: 300px;
                height: 400px;
              }
              }
              .text-content{
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                border-radius: 5px;
                padding: 50px;
                height: 300px;
                width: 537px;
              }
          }
        }
      }
      
}