<div class="banner">
    <div class="heading col-6">
    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut autem rerum modi sapiente quae quo nemo eaque tempore cupiditate voluptatem!</p>
</div>
<div class="banner-container">
    <div class="left-banner">
        <div class="banner-content col-8 col-sm" *ngFor="let i of [1,2,3]">
            <div class="icons"><img src="assets/favicon.png" alt=""></div>
            <div class="information">
            <h4>Lorem ipsum dolor sit amet consectetur</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis culpa aspernatur reiciendis! Totam eum porro ad iusto, velit quam.</p>
        </div>
        </div>
        <a href="/">Try Metadata-AI</a>
    </div>
    <div class="right-banner">
        <img src="assets/banner.jpg" alt="">
    </div>
</div>
</div>