<div class="container admin">
    <div class="row sections">
        <div routerLink="/Customerqueries" class="Customerqueries effect col-sm-6">
            <img src="assets/contactUs.jpg" alt="">
            <h4>Customer Queries</h4>
        </div>
        <div routerLink="/jobapplications" class="CareerSubmission effect col-sm-6">
            <img src="assets/contactUs.jpg" alt="">
            <h4>Job applications</h4>
        </div>
        <div class="Managecontent effect col-sm-6">
            <img src="assets/contactUs.jpg" alt="">
            <h4>Manage content</h4>
        </div>
        <div class="AdminAccess effect col-sm-6">
            <img src="assets/contactUs.jpg" alt="">
            <h4>Admin access</h4>
        </div>
    </div>
</div>