<section class="client-section">
  <div class="description">
    <h4>"Certification from esteemed professional organizations exemplifies our employees' dedication to excellence"</h4>
    <h3>
      Our esteemed employees possess certifications bestowed by reputable professional organizations.
    </h3>
  </div>
  <div class="clients container">
    <div class="row icons">
    <div class="first boxes col-sm-4"><img loading="lazy" src="assets/UDEMY.png" alt="" /></div>
    <div class="second boxes col-sm-4"><img loading="lazy"src="assets/hackeer.png" alt="" /></div>
    <div class="third boxes col-sm-4"><img loading="lazy" src="assets/edu.png" alt="" /></div>
  </div>
  </div>
</section>
