<div class="policy-content container">
    <strong><h1> Privacy Policy</h1></strong>
    <h4>Last Updated: 27/08/2023</h4>
    <hr>
<p>This Privacy Policy describes how Metadata ("we," "our," or "us") collects, uses, and discloses personal information when you use our website [www.metadata.com]</p>
<p>By using the Website, you agree to the terms outlined in this Privacy Policy. If you do not agree with these terms, please do not use the Website.</p>
<strong><h3>Information We Collect</h3></strong>
<p>Personal Information: When you use our Website, we may collect certain personal information such as your name, email address, and any other information you provide when you fill out forms or communicate with us.</p>
<p>Usage Data: We may collect information about how you interact with the Website, including your IP address, browser type, operating system, and pages you visit.</p>
<strong><h3>How We Use Your Information
</h3></strong>
<p>We may use your personal information to provide and maintain the Website, communicate with you, respond to your inquiries, and send you information you have requested.</p>
<p>We may use usage data to analyze trends, administer the Website, and gather demographic information for internal purposes.</p>
<strong><h3>Disclosure of Your Information</h3></strong>
<p>We may share your personal information with service providers who assist us in operating the Website and providing services to you.</p>
<p>We may disclose your personal information when required by law, to protect our rights, or to comply with a judicial proceeding, court order, or legal process.</p>

<strong><h3>Cookies and Tracking Technologies</h3></strong>
<p>We may use cookies and similar tracking technologies to enhance your experience on the Website. You can adjust your browser settings to refuse cookies, but this may impact certain functionalities.
    Your Choices</p>
<p>You can opt-out of receiving marketing communications from us by [provide opt-out instructions].</p>
<p>You can update or delete your personal information by [provide instructions].</p>

<strong><h3>Children's Privacy</h3></strong>

<p>Our Website is not intended for children under the age of 13. We do not knowingly collect personal information from individuals under 13 years of age.
    Changes to this Privacy Policy</p>
<p>We may update this Privacy Policy from time to time. The "Last Updated" date at the beginning of the policy will indicate the most recent changes. It's recommended to review this policy periodically.
    Contact Us</p>
<p>If you have any questions or concerns about this Privacy Policy, please contact us at [contact email address].</p>
</div>